.section-icon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  aspect-ratio: 1;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.section-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.flex {
  display: flex;
  gap: 1rem;
  padding: 0rem 1rem 0 0rem;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.align-middle {
  align-items: center;
}

.align-base {
  align-self: baseline;
  margin-bottom: 15px;
}

.user-header {
  padding-left: 2rem;
}