.section-icon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  aspect-ratio: 1;
  background-color: grey;
}
.section-img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.flex {
  display: flex;
  gap: 1rem;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}
